.appContainer {
  .twoColumnGrid {
    display: grid;
    max-width: 1200px;
    margin: 50px auto auto;

    @media only screen and (min-width: 768px) {
      grid-template-columns: 1fr 4fr;
    }

    .side {
      display: grid;
      justify-content: center;
      padding: 15px;
      box-sizing: border-box;

      @media only screen and (min-width: 768px) {
        align-content: baseline;
      }
    }

    .main {
      .mainHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: end;
        padding: 0 15px;
        font-weight: 500;
      }
    }
  }
}
